.forCenter{
  display: flex;
  align-items: center;
  justify-content: center;
}


.form-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  background: #1c6194;
  color: #fff;
  padding: 12px;
  border-radius: 5px;
}

.form-container {
  padding: 50px;
  width: 100%;
  max-width: 80%;
  background: rgba(255, 255, 255, 0.24);
  border-radius: 15px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.1px);
  -webkit-backdrop-filter: blur(5.1px);
  border: 1px solid rgba(255, 255, 255, 0.17);
}

.form-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 15px;
}

.form-inner-group {
  width: 100%;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
  color: #fff;
}

input, select {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: #fff;
  font-size: 1rem;
  color: #1c6194;
  outline: none;
}

input::placeholder {
  color: #6f8ba4;
}

.appointment-button {
  width: 100%;
  max-width: 49%;
  padding: 12px;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s;
  background: #f545ba;
  margin-top: 10px;
  text-transform: capitalize;
}

.appointment-button:hover {
  background: #003d6b;
}

/* Media Queries for Tablet */
@media (max-width: 768px) {
  .form-container {
    padding: 30px;
    max-width: 90%;
  }

  .form-group {
    flex-wrap: wrap;
  }

  .form-inner-group {
    flex: 1 1 100%; /* Ensures full width */
  }
}

/* Media Queries for Mobile */
@media (max-width: 480px) {
  body {
    padding: 10px;
  }

  .form-header {
    font-size: 1rem;
    padding: 10px;
  }

  .form-container {
    padding: 20px;
  }

  label {
    font-size: 0.9rem;
  }

  input, select {
    font-size: 0.9rem;
    padding: 8px;
  }

  .appointment-button {
    font-size: 0.9rem;
    padding: 10px;
    max-width: 100%; /* Full width for button on small screens */
  }
}
